<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main Menu Item -->
    <menuitem id="menu_equity_root"
              name="Equity"
              sequence="10"
              web_icon="cw_equity_management,static/description/icon.png"/>


      <!-- Equity Ownership Menu -->
    <menuitem id="menu_equity_ownership"
              name="Equity Ownership"
              parent="menu_equity_root"
              sequence="10"/>

    <menuitem id="menu_equity_ownership_list"
              name="Ownership Records"
              parent="menu_equity_ownership"
              action="action_equity_ownership"
              sequence="10"/>

    <!-- Equity Transactions Menu -->
    <menuitem id="menu_equity_transactions"
              name="Transactions"
              parent="menu_equity_root"
              sequence="20"/>


    <menuitem id="menu_equity_asset_contribution_list"
              name="Capital Contribution"
              parent="menu_equity_transactions"
              action="action_equity_asset_contribution"
              sequence="9"/>

    <menuitem id="menu_equity_drawing_transaction_list"
              name="Owner Drawings"
              parent="menu_equity_transactions"
              action="action_equity_drawing_transaction"
              sequence="10"/>

    <!-- Reports Menu (Top Level) -->
    <menuitem id="menu_equity_reports"
              name="Reports"
              parent="menu_equity_root"
              sequence="35"/>

    <!-- <menuitem id="menu_equity_transaction_report"
              name="Equity Transactions Report"
              parent="menu_equity_reports"
              action="action_equity_transaction_dashboard"
              groups="account.group_account_user,account.group_account_manager"
              sequence="10"/> -->

    <menuitem id="menu_equity_transaction_report_js"
              name="Equity Report"
              parent="menu_equity_reports"
              action="action_equity_transaction_dashboard_js"
              sequence="20"/>
   

    <!-- Profit &amp; Loss Allocation Menu -->
    <menuitem id="menu_equity_allocation"
              name="Allocation"
              parent="menu_equity_root"
              sequence="30"/>
              
    <menuitem id="menu_equity_allocation_list" 
              name="Allocations" 
              parent="menu_equity_allocation" 
              action="action_equity_allocation" 
              sequence="10"/>

    <!-- Configuration Menu -->
    <menuitem id="menu_equity_configuration"
              name="Configuration"
              parent="menu_equity_root"
              sequence="40"/>

    <menuitem id="menu_equity_ownership_master_list"
              name="Master Ownership Structures"
              parent="menu_equity_configuration"
              action="action_equity_ownership_master"
              sequence="10"/>

     <menuitem id="menu_type_store"
              name="Report Config"
              parent="menu_equity_configuration"
              action="action_type_store"
              sequence="9"/>
</odoo>
